p{
    color: #ffe6ff;
    font-size: 130%;
    height: 200%;
    text-decoration: none;
}
.searchin{
    color: #ffe9ffff;
    text-size-adjust: 100%;
    font-size: 110fr;
    height: 200%;
    width: 200%;
}