<div class="bg-dark border-right p-3 hero-container" id="sidebar">
  <div class="sign enviroment stack" style="--stacks:2;">
    <span class="fast-flicker hero glitch layers" style="--index:0;">Welcome</span><span class="fast-flicker hero glitch layers" style="--index:1;">Welcome</span><span class="flicker glitch" style="--index:2;">Welcome</span><span class="fast-flicker hero glitch layers" style="--index:3;">Welcome</span>
  </div>
  <div>
    <span class="fast-flicker hero">To Robo</span><span class="flicker hero glitch layers" style="--stacks:3;">fri</span><span class="fast-flicker hero">ends</span>
  </div>
  <div class="container">
    <div class="row list-group">
      <a href="#" class="col-md-4 list-group-item list-group-item-action">Inicio</a>
    </div>
    <div class="row list-group">
      <a class="col-md-4 list-group-item list-group-item-action">All Characters</a>
      <app-personajes></app-personajes>
    </div>
    <div class="row list-group">
      <a href="#" class="col-md-4 list-group-item list-group-item-action">Search</a>
      <app-lugares></app-lugares>
    </div>
    <div class="row list-group">
      <a href="#" class="col-md-4 list-group-item list-group-item-action">Emails</a>
      <app-sociedades></app-sociedades>
    </div>
  </div>
  <!-- <app-lugares></app-lugares>
  <app-personajes></app-personajes>
  <app-sociedades></app-sociedades> -->